@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #1f1f1f;
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background: #484a4e45;
  width: 300px;
  border-radius: 8px;
  color: #eee;
  margin-right: 20px;
  text-align: center;
  padding: 5px 20px;
}

.profile-card > div > h4{
  margin: 10px;
}

.profile-card > div > h6{
font-size: 12px;
  opacity: 0.5;
  font-weight: 200;
}

.terminal {
  background: #191919;
  width: 600px;
  height: 300px;
  border-radius: 8px;
  overflow-x: hide;
  overflow-y: auto;
}

.terminal > p{
  padding-left: 5px;
  color: #888;
  font-size: 12px;
  padding-top: 3px;
  margin-top: 25px;
}

p > span {
  color: #fa615c;
  font-weight: bold;
}

.buttons {
  background: #2a2a2a;
  border-radius: 8px 8px 0px 0px;
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  position: fixed;
  width: 600px;
}

.red {
  background: #fa615c;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 5px;
}

.yellow {
  background: #ffbd48;
  height: 10px;
  width: 10px;
  border-radius: 100%;
    margin-right: 5px;
}

.green {
  background: #3fc950;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

input {
  width: 75%;
  background: none;
  outline: none;
  border: none;
  color: #999;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 2px;
  caret-color: transparent;
}

label[for="command"] {
  color: green;
  padding-left: 5px;
  font-size: 12px;
}

.heading {
  color: #888;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 100px 50px 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.commands {
  color: #888;
  font-size: 12px;
  padding-left: 5px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
